body {
  margin: 0;
}

#color-palette {
  width: 100%;
  
  display: inline-block;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 15px;
  height: 15px;
}

#button-random-color {
  display: block;
}

.line {
  display: flex;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
