body {
  margin: 0;
  background-image: url('https://github.com/FredericoTP/trybe-project-03-pixels-art/blob/main/wp1933972-pixel-art-wallpapers.png?raw=true');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
}

#header {
  text-align: center;
  margin: 20px 0 0;
}

#title {
  padding: 30px;
  width: 30%;
  margin: auto;
  background-color: midnightblue;
  border: 10px solid black;
  border-radius: 20px;
  font-family: Chewy, cursive, sans-serif;
  color: white;
}

#color-palette {
  width: 30%;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 10px solid black;
  border-radius: 20px;
  background-color: midnightblue;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 10px 20px 0;
}

#button-random-color {
  display: block;
  margin: 10px auto;
  background-color: white;
}

#board-change {
  text-align: center;
  margin: 20px auto;
  width: 30%;
  display: block;
  padding: 20px;
  border: 10px solid black;
  border-radius: 20px;
  background-color: midnightblue;
}

#clear-board {
  display: block;
  margin: 10px auto 0;
}

.line {
  display: flex;
  justify-content: center;
}

#pixel-board {
  text-align: center;
  margin: 0 0 15px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
